asgiref
azure-cognitiveservices-vision-face
azure-common
certifi
cffi
charset-normalizer
cryptography
decorator
defusedxml
dj-database-url
Django
django-allauth
django-environ
django-heroku
idna
imageio
imageio-ffmpeg
isodate
msrest
numpy
oauthlib
Pillow
proglog
psycopg2
psycopg2-binary
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
six
sqlparse
tqdm
urllib3
whitenoise
gunicorn